
@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/Figtree/Figtree-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Figtree";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/Figtree/Figtree-Italic-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Madefor Text";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/Wix_Madefor_Text/WixMadeforText-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Madefor Text";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/Wix_Madefor_Text/WixMadeforText-Italic-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Madefor Display";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/Wix_Madefor_Display/WixMadeforDisplay-VariableFont_wght.woff2") format("woff2");
}


@font-face {
  font-family: "Goldman";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Goldman/Goldman-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Goldman";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Goldman/Goldman-Bold.woff2") format("woff2");
}

